.form-control{
        border-radius: 0%;
        font-size: $small;
        font-family: $raleway;
        margin-top: 10px;
        color: $smoky-black;
        width: 60%;
        height: 40px;
        padding: 0px 20px;
    }

    .footer{
        background-color: $smoky-black;
        color: $white;
        width: 45%;
        display: block;
        padding-left: 5%;
        padding-top: 2%;
        height: 11.5em;
    }  

    

    h3, h4 {
        font-family: $oldStandard;
    }

    